@page "/about"

<section class="text-center">
    <h1 class="display-4 text-white" id="1"><i>Welcome To NJ auto</i></h1>
    <h2 class="text-warning">In this section you can be informed about NJ auto´s past present and future</h2>
</section>
<section class="clearfix" id="wrap" >
    <h4 class="text-success" id="Pa"><b>The Past</b></h4>

    <p class="text-white-50" >
       <img style=" width:200px; height:200px;" src="/Images/vintage-auto.jpg" id="vintage" alt="Old auto shop"  class="img-fluid float-end rounded-2 m-1" />The roots of NJ auto are indeed deep, <b>a century old</b> deep.It all started in 1922 in a small garage in Montana. In this dusty town two young enterpreneurs Simpa DaLeon and Mufasa DaUncle took over the first auto shop.
        The shop itself was a generation shop owned by Mr. DaLeon´s grandfather. It was a turbulant time as the Great Depression was starting and the economy was failing, but luckily the shop survived and three generations later it still thrives. 
         </p>
    
</section>
<section id="wrap" class="clearfix">
    <h4 class="text-primary" id="Pr"><b>The Present</b></h4>
    <p class="text-white-50">
       <img  style=" width:200px; height:200px;" src="/Images/two-businessmen.jpg" id="business" alt="Old auto shop" class="img-fluid float-start rounded-2 m-2" /> Currently the business is a major automobile representation, that sells on average 40 cars a month. it has expanded its business considerable in the last five years, thanks to breakthrough marketing strategies developed by the new owners.
     the company is a shining example of how to sell, provide an excellent costumer service and profit from doing so. The company also supports charities and community events making it a favourite among the public. 
    
    </p>
</section>
<section id="wrap" class="clearfix">
    <h4 class="text-danger" id="Fu"><b>The Future</b></h4>
    <p class="text-white-50">
       <img style=" width:200px; height:200px;" src="/Images/auto-car.jpg" id="auto" alt="Old auto shop"  class="img-fluid float-end rounded-2 m-1" />The company has a very promising future ahead of it as new locations are opening soon all over the country. The brilliant and innovative business model has evolved enough to incorporate even more services.
    In the future there´s also talks at expanding with the additions of a workshop for repairs, and storing vehicles in a safe storage if necessary. Despite all these one thing is for sure the customer will leave satisfied with our services.
    </p>
</section>