@page "/"

<div >
    <img class="imgBack" src="/Images/backgroundImg1.jpg" />

</div>

<div class="box  pt-5">
    <div class="box_item ">
        <Map></Map>
        <ContactForm></ContactForm>
        <OpeningHours></OpeningHours>
    </div>

</div>

