@page "/Login"
@inject HttpClient Http;
@inject AuthenticationStateProvider AuthStateProvider;
@inject ILocalStorageService LocalStorage; 
<div class="image">
    <div class="container-fluid">
        <div class="mudPaper">
            <MudCard Label="Login" Style="background-color:transparent; padding-top:10px;">
                <MudTextField Class="input" T="string" Label="Email or Username" Variant="Variant.Filled" @bind-Value="_user.Username" />
                <MudTextField Class="input" @bind-Value="_user.Password" Label="Password" Variant="Variant.Filled" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonTestclick" AdornmentAriaLabel="Show Password" />
                <MudButton Class="LoginBtn" Variant="Variant.Text">Login</MudButton>
            </MudCard>
        </div>
    </div>
</div>
@code {
    private readonly User _user = new();
    bool isShow;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
    void ButtonTestclick()
    {
        @if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }
    private string? _errorMessage = null;

    // TODO: Tilføj validation summary på form

    private async Task LoginSubmit()
    {
        _errorMessage = null;

        var response = await Http.PostAsJsonAsync("/loningController", _user);

        if (!response.IsSuccessStatusCode)
        {
            _errorMessage = await response.Content.ReadAsStringAsync();
        }
        else
        {
            var token = await response.Content.ReadAsStringAsync();
            await LocalStorage.SetItemAsStringAsync("token", token);
            await AuthStateProvider.GetAuthenticationStateAsync();
            NavigationManager.NavigateTo("/");
        }
    }







}
