@page "/Showcars"
@inherits MainLayout
@inject HttpClient Http;
@if (_cars is null)
{
    <p>Loading cars</p>
}
else
{
    <div class="container-fluid">
        <div class="row">
            @foreach (var car in _cars)
            {
                <div class="col" style=" flex: 0 0 auto; width: 20rem; padding-top: 20px; ">
                    <CarCard Car="car"></CarCard>
                </div>
            }

        </div>
    </div>




}

@code {
    private IEnumerable<Car>? _cars;
    protected override async Task OnInitializedAsync()
    {
        _cars = await Http.GetFromJsonAsync<IEnumerable<Car>>("/carcontroller");
    }
}
